<footer >
	<mat-toolbar id="main-info-bar">
		<mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-around center">
			<div class="fonts">
				<a [routerLink]="['/']" routerLinkActive="router-link-active">
					Copyright &copy;
					<!-- <mat-icon>keyboard_arrow_right</mat-icon> -->
					__wh0am1__
				</a>
			</div>
			<div class="fonts">
				<span>
					<!-- <a href="https://github.com/wh0th3h3llam1">
						<img src="assets/images/github-icon-white.png" alt="GitHub Icon" class="img">
					</a> -->
					<button mat-button (click)="github()" matTooltip="GitHub">
						<img src="assets/images/github-icon-white.png" alt="GitHub Icon" class="img">
					</button>
				</span>
				<span>
						<!-- <a href="https://twitter.com/__wh0am1__">
							<img src="assets/images/twitter-icon-18-256.png" alt="Twitter" class="img">
						</a> -->
					<button mat-button (click)="twitter()" matTooltip="Twitter">
							<img src="assets/images/twitter-icon-18-256.png" alt="Twitter" class="img">
					</button>
				</span>
				<span>
					<button mat-button (click)="medium()" matTooltip="Medium">
						<img src="assets/images/medium-512.webp" alt="Medium" class="img">
					</button>
				</span>
				<span>
					<button mat-button (click)="mail()" matTooltip="Gmail : wh0am1.7548@gmail.com">
						<mat-icon>mail_outline</mat-icon>
					</button>
				</span>
				<span>
					<button mat-button (click)="protonmail()" matTooltip="ProtonMail: wh0th3h3llam1@pm.me">
						<img src="assets/images/protonmail-icon.png" alt="ProtonMail" class="img">
					</button>
				</span>
			</div>
		</mat-toolbar-row>
	</mat-toolbar>
</footer>
