<main>
	<br><br>
	<div class="header center">
		<div class="mat-display-2">
			About Me
		</div>
	</div>
	<div class="center container">
		<p>
			Cybersecurity Enthusiast and Penetration Tester.
		</p>

		<p>
			Currently performing Bug Bounties and OSCP.
		</p>

		<p>
			<script src="https://tryhackme.com/badge/27250"></script>
			<!-- Try Hack Me Badge -->
			<img src="https://tryhackme-badges.s3.amazonaws.com/wh0am1.png" alt="TryHackMe">
		</p>

		<p>
			<script src="https://www.hackthebox.eu/badge/210422"></script>
			<!-- Try Hack Me Badge -->
			<img src="http://www.hackthebox.eu/badge/image/210422" alt="Hack The Box">
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>

		<p>
			Icons by <a href="https://icons8.com/">Icons8</a>
		</p>
	</div>
	<br><br>
</main>
