<!-- Main Navbar -->
<nav class="navigation mat-elevation-z8" id="main-navbar">
	<mat-toolbar>
		<mat-toolbar-row id="main-info-bar" fxLayoutAlign="space-between center">
			<div class="fonts">
				<mat-icon>keyboard_arrow_right</mat-icon>
				<a [routerLink]="['/']" routerLinkActive="router-link-active">
					__wh0am1__
				</a>
			</div>
			<div class="fonts" fxHide.lt-md>
				<span>
					<button class="fonts" routerLink="/about" mat-button>About</button>
				</span>
				<span>
					<button mat-button (click)="github()" matTooltip="GitHub">
						<img src="assets/images/github-icon-white.png" alt="GitHub Icon" class="img">
					</button>
				</span>
				<span>
					<button mat-button (click)="twitter()" matTooltip="Twitter">
						<img src="assets/images/twitter-icon-18-256.png" alt="Twitter" class="img">
					</button>
				</span>
				<span>
					<button mat-button (click)="medium()" matTooltip="Medium">
						<img src="assets/images/medium-512.webp" alt="Medium" class="img">
					</button>
				</span>
			</div>

			<div class="navmenu" fxHide.gt-sm>
				<span>
					<button class="fonts" mat-button [matMenuTriggerFor]="navmenu" #menuTrigger="matMenuTrigger">
						<mat-icon>menu</mat-icon>
					</button>
				</span>
			</div>

		</mat-toolbar-row>
	</mat-toolbar>
</nav>

<br><br><br><br>


<!-- Menu on Screen Size Smaller than MD -->
<mat-menu #navmenu="matMenu" [overlapTrigger]="false" xPosition="before">
	<button routerLink="/" mat-menu-item>
		<mat-icon>home</mat-icon>
		Home
	</button>
	<button routerLink="/about" mat-menu-item>
		<mat-icon>info</mat-icon>
		About
	</button>
	<button (click)="github()" mat-menu-item>
		<mat-icon svgIcon="github"></mat-icon>
		GitHub
	</button>
	<button (click)="twitter()" mat-menu-item>
		<mat-icon svgIcon="twitter"></mat-icon>
		Twitter
	</button>
</mat-menu>