.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    display: none;
    transition: all .25s ease-in-out;
}

.show-scrollTop {
    display: flex;
    opacity: 1;
    transition: all .25s ease-in-out;
}