<main>
	<br><br>
	<div class="header center">
		<div class="mat-display-3">
			wh0am1
		</div>
		
		<div class="mat-display-1">
			CyberSecurity Enthusiast and Penetration Tester
		</div>

	</div>
	<div class="container">

		<!--
		<div class="center">
			<h1>Technical Skills</h1>
			<mat-divider></mat-divider>
				<!- - <ul> - ->
					<!- - <li> - ->
						<b>Core Skills</b> - Penetration Testing
						<br>
					<!- - </li> - ->
					<!- - <li> - ->
						<b>Programming Languages</b> - C, Java, C#
						<br>
					<!- - </li> - ->
					<!- - <li> - ->
						<b>Scripting Languages</b> - Python, Bash, PHP
						<br>
					<!- - </li> - ->
					<!- - <li> - ->
						<b>Databases</b> - Python, Bash, PHP
						<br>
					<!- - </li> - ->
					<!- - <li> - ->
						<b>Frameworks</b> - Angular, Django, Metasploit, BeEF
						<br>
					<!- - </li> - ->
					<!- - <li> - ->
						<b>Tools</b> - Nmap, SQLMap, proxychains, Wireshark, Burp Suite
						<br>
					<!- - </li> - ->
				<!- - </ul> - ->  
		</div>
		-->


		<!-- Technical Skills -->
		<div class="tech-skills">
			<h1>Technical Skills</h1>
			<mat-divider></mat-divider>
			<br>

			<mat-chip-list aria-label="Skills">
				<h3>Core Skills - </h3>
				<mat-chip color="primary" selected>CyberSecurity</mat-chip>
				<mat-chip color="primary" selected>VAPT</mat-chip>
				<mat-chip color="primary" selected>Malware Analysis</mat-chip>
				<mat-chip color="primary" selected>Cryptography</mat-chip>
			</mat-chip-list>

			<!-- 
			<mat-chip-list aria-label="Programming Languages">
				<h3>Programming Languages - </h3>
				<mat-chip color="primary" selected>C</mat-chip>
				<mat-chip color="primary" selected>Java</mat-chip>
				<mat-chip color="primary" selected>C#</mat-chip>
				<mat-chip color="primary" selected>Julia</mat-chip>
				<mat-chip color="primary" selected>Ruby</mat-chip>
			</mat-chip-list> -->

			<mat-chip-list aria-label="Scripting Languages">
				<h3>Scripting Languages - </h3>
				<mat-chip color="primary" selected>Python</mat-chip>
				<mat-chip color="primary" selected>Bash</mat-chip>
				<mat-chip color="primary" selected>JavaScript</mat-chip>
				<mat-chip color="primary" selected>TypeScript</mat-chip>
				<mat-chip color="primary" selected>PHP</mat-chip>
			</mat-chip-list>

			<mat-chip-list aria-label="Databases">
				<h3>Databases - </h3>
				<mat-chip color="primary" selected>MongoDB</mat-chip>
				<mat-chip color="primary" selected>MySQL</mat-chip>
				<mat-chip color="primary" selected>Oracle SQL</mat-chip>
				<mat-chip color="primary" selected>SQLite</mat-chip>
			</mat-chip-list>

			<mat-chip-list aria-label="Skills">
				<h3>Frameworks - </h3>
				<mat-chip color="primary" selected>Metasploit</mat-chip>
				<mat-chip color="primary" selected>Angular</mat-chip>
				<mat-chip color="primary" selected>Django</mat-chip>
				<mat-chip color="primary" selected>BeEF</mat-chip>
			</mat-chip-list>

			<mat-chip-list aria-label="Skills">
				<h3>Tools - </h3>
				<mat-chip color="primary" selected>Nmap</mat-chip>
				<mat-chip color="primary" selected>SQLMap</mat-chip>
				<mat-chip color="primary" selected>ProxyChains</mat-chip>
				<mat-chip color="primary" selected>Wireshark</mat-chip>
				<mat-chip color="primary" selected>Burp Suite</mat-chip>
			</mat-chip-list>

		</div>
		<br>

		<!-- Work Experience -->
		<div class="work">
			<h1>Work Experience</h1>
			<mat-divider></mat-divider>
			<br>
			
			<!-- Exercism Card -->
			<mat-card appMaterialElevation>
				<mat-card-header>
					<mat-card-title>
						<!-- <h2>Exercism.io</h2> -->
						<a href="https://exercism.io/profiles/wh0th3h3llam1" target="_blank">
							<h3>
								Exercism.io
								<mat-icon>link</mat-icon>
							</h3>
							<!-- <h4>Student Mentor</h4> -->
						</a>
					</mat-card-title>
					<mat-card-subtitle>
						<i>May 2020 - Present</i>
					</mat-card-subtitle>
				</mat-card-header>

				<mat-card-content>
					<!-- <p>
						- Mentoring Students for write better, efficient and readable code.
						<br>
						- Mentored 200+ students for Python.
					</p> -->
					
					<mat-list role="list">
						<mat-list-item role="listitem">
							Mentoring Students for write better, efficient and readable code.
						</mat-list-item>
						<mat-list-item role="listitem">
							Mentored 200+ students for Python.
						</mat-list-item>
						<mat-list-item role="listitem">
							Item 3
						</mat-list-item>
					  </mat-list>
				</mat-card-content>
			</mat-card>
			<br>
		</div>
		<br>

		<!-- Personal Projects -->
		<div class="projects">
			<h1>Personal Projects</h1>
			<mat-divider></mat-divider>
			<br>
			
			<!-- BestBid Card -->
			<mat-card appMaterialElevation>
				<mat-card-header>
					<mat-card-title>
						<a href="https://github.com/wh0th3h3llam1/bestbid" target="_blank">
							<h3>
								BestBid
								<mat-icon>link</mat-icon>
							</h3>
						</a>
					</mat-card-title>
					<mat-card-subtitle>
						<i>Dec 19 - May 2020</i>
					</mat-card-subtitle>
				</mat-card-header>

				<mat-card-content>
					
					<mat-list role="list">
						<mat-list-item role="listitem">
							Live Auctioning System implemented in Django
						</mat-list-item>
						<mat-list-item role="listitem">
							BestBid is a platform where users can bid for exotic cars and villas.
						</mat-list-item>
					  </mat-list>
				</mat-card-content>
			</mat-card>
			<br>
		</div>
		<br>
		
		<!-- Let's Connect -->
		<div class="lets-connect">
			<h1>Let's Connect</h1>
			<mat-divider></mat-divider>
			<br>
			<div>
				<a href="mailto:wh0am1.7548@gmail.com">
					<img src="assets/images/gmail.png" alt="Gmail">
				</a>
			</div>
			<br>

			<div>
				<a href="mailto:wh0th3h3llam1@protonmail.me">
					<img src="assets/images/protonmail.png" alt="ProtonMail">
				</a>
			</div>
			<br>

			<div>
				<a href="https://twitter.com/__wh0am1__" target="_blank">
					<img src="assets/images/twitter-icon.png" alt="Twitter-Icon">
				</a>
			</div>
			<br>

			<div>
				<a href="https://twitter.com/__wh0am1__" target="_blank">
					<img src="assets/images/github.png" alt="GitHub">
				</a>
			</div>
			<br>

			<div>
				<a href="https://medium.com/@wh0th3h3llam1" target="_blank">
					<img src="assets/images/medium-512.webp" alt="Medium">
				</a>
			</div>
			<br>

		</div>

	</div>
	<br><br>

</main>


<scroll-to-top></scroll-to-top>